<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이집어때? | 리뷰</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/review.css" />
    <link
      rel="shortcut icon"
      href="../public/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/e53b3f6679.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div style="position: fixed; z-index: 1000; width: 100%">
      <header class="Header__Content">
        <div class="house-header__Box">
          <div class="house-header__Titile">
            <div class="house-logo">
              <a href="/"><h1 class="reveal-text">이집어때?</h1></a>
            </div>
            <div class="house-search">
              <div class="house-search__Box">
                <button
                  class="house-search__Button"
                  type="button"
                  aria-label="검색하기 버튼"
                >
                  <img
                    src="https://dcicons.s3.ap-northeast-1.amazonaws.com/new/images/web/react_components/SearchQueryInput/search.png"
                    alt=""
                  /></button
                ><input
                  class="search-input"
                  placeholder="지역, 음식 또는 식당명 입력"
                  value=""
                />
              </div>
            </div>
            <div class="auth-login__Box">
              <a href="/user/<%= loginLinkTextURL.toLowerCase() %>"
                ><%= loginLinkText %></a
              >
              <a href="/user/info">마이페이지</a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div id="container-wrap">
      <div>
        <div id="subleft-cont">
          <div class="mini-map">
            <input id="lat" style="display: none" value="<%= data.dataLat %>" />
            <input id="lng" style="display: none" value="<%= data.dataLng %>" />
            <div id="map2" class="map" tabindex="0" value="<%= data.title %>">
              <div class="naver">
                <div>
                  <a
                    href="https://ssl.pstatic.net/static/maps/mantle/notice/legal.html"
                    target="_blank"
                    ><img
                      src="https://ssl.pstatic.net/static/maps/mantle/2x/naver-normal-new.png"
                      width="48"
                      height="17"
                      alt="NAVER"
                  /></a>
                </div>
              </div>
            </div>
            <a class="delisor-search">
              <strong>'<%= data.title %>'</strong>
              <br />
              <br />
              맛집 더 검색해보기
            </a>
          </div>
        </div>

        <div id="subright-cont">
          <div>
            <div class="main-content">
              <ul class="main-content__pic">
              <% for(var i=0; i<data.image.length; i++) { %>
                <li class="img btn-gallery-open" data-index="0">
                  <img
                    src="<%= data.image[i] %>"
                    style="width: 100%; height: auto; margin-top: -55px"
                    alt="맛집 사진"
                  />
                </li>
                <% } %>
              </ul>
              <div class="tit-point">
                <p class="tit"><%= data.title %></p>
              </div>
              <div class="btxt">
                <a><%= data.space %></a> |
                <a class="btxt"><%= data.subTitle %></a>
              </div>
              <div class="sns-grade">
                <p class="grade">
                  <strong
                    style="
                      font-size: 18px;
                      vertical-align: middle;
                      padding-right: 8px;
                    "
                    ><%= data.score %>점</strong
                  >
                  <span class="point">
                    23명의 평가 <strong id="lbl_review_point">4.3점</strong>
                  </span>
                  <span id="lbl_review_star" class="star"
                    ><i style="width: 86%"></i
                  ></span>
                </p>
              </div>
              <div class="favor-pic-appra">
                <a href="JavaScript:void(0);" class="favor" value="Y"
                  ><span>좋아요</span></a
                >
                <a href="" class="share" id="Rest__Share"><span>공유</span></a>
                <button id="openModalBtn" class="appra Profile__Evaluation">
                  <span>평가하기</span>
                </button>
              </div>
            </div>

            <p class="gap20"></p>

            <div class="s-list basic-info">
              <ul class="list">
                <li class="locat">
                  <a target="_blank"><%= data.address %></a>
                  
                    <button class="Move__Map__Button">지도를 클릭 해주세요 🗺️</button>
                  
                </li>
                <li class="tel"><%= data.number %></li>
                <li class="tag" st>
                  <a><%= data.hashTag %></a>
                </li>
                <li class="char">
                  <a><%= data.plus %></a>
                </li>
                <li id="Favor__User__Popup" class="favor button">
                  이 식당에 401명의 좋아요한 사용자가 있습니다.
                </li>

                <li
                  class="feedback button"
                  style="
                    background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/profile-feedback@2x.png)
                      no-repeat left;
                    background-size: 20px;
                  "
                >
                  <%= data.info %>
                </li>
              </ul>
            </div>

            <p class="gap20"></p>

            <div id="div_detail" class="s-list detail-info">

              <div class="menu-info short">
                <p class="tit">메뉴정보</p>
                <ul class="list Restaurant_MenuList">
                <% for(var i=0; i<data.menu.length; i++) { %>
                  <li>
                    <p class="l-txt Restaurant_MenuItem">
                      <span class="Restaurant_Menu"><%= data.menu[i] %></span></span>
                    </p>
                    <p class="r-txt Restaurant_MenuPrice"><%= data.price[i] %> 💰</p>
                  </li>
                <% } %>
                </ul>
              </div>
            </div>
          </div>
          <div id="div_detail" class="s-list detail-info">
            <div class="menu-info short">
              <p class="tit"><%= total %> 명의 방문자 평가❤️</p> 
              <% 
               reviews.sort(function(a, b) {
                return new Date(b.date) - new Date(a.date);
              });
              
              for(var i=0; i<reviews.length; i++) { 
              %> 
              <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-content">
                      <%
                                var date = new Date(reviews[i].date);

                                function formatDateTime(date) {
                                  var year = date.getFullYear();
                                  var month = (date.getMonth() + 1).toString().padStart(2, '0');
                                  var day = date.getDate().toString().padStart(2, '0');
                                  var hours = date.getHours().toString().padStart(2, '0');
                                  var minutes = date.getMinutes().toString().padStart(2, '0');
                                  var seconds = date.getSeconds().toString().padStart(2, '0');
                                  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                                }

                                // review.date를 원하는 형식으로 변환
                                var formattedDateTime = formatDateTime(date);
                                %>
                        <div class="timeline-delbox">
                          <p><%= formattedDateTime %></p>
                          <button class="btn-3"> <span>삭제</span></button>
                        </div>
                      <div class="timeline-box">
                        
                        <h2><%= reviews[i].content %></h2>
                        <div class="timeline-box__star">                        
                          <p>
                            <% var score = reviews[i].score; %>
                            <% var numStars = Math.ceil(score / 20); %>
                            <% for (var j = 0; j < 5; j++) { %>
                              <% if (j < numStars) { %>
                                <span class="star">&#9733;</span>
                              <% } else { %>
                                <span class="star">&#9734;</span>
                              <% } %>
                            <% } %>
                          </p>
                          <p class="box-star__title"><%= reviews[i].score  %> 점 </p>
                        </div>
                      </div>
                      
                    </div>                    
                </div>
            </div>      
            <% } %>     
            </div>            
          </div>
        </div>        
      </div>      
    </div>

     <!-- 모달 창 -->
     <form action="/review-add" method="post" id="reviewModal" class="modal">
      <div class="modal-content">
          <img src="">
          <span class="close">&times;</span>
          <h2 style="font-family: font; color: #ff7400;">리뷰 작성 <i class="fa-solid fa-medal" style="color: ff7400;"></i></h2>
          <div class="rating">            
              <span class="star-cb-group">
                <input type="radio" id="rating-4" name="rating" value="100" checked="checked" /><label for="rating-4">4</label>
                <input type="radio" id="rating-3" name="rating" value="70" /><label for="rating-3">3</label>
                <input type="radio" id="rating-2" name="rating" value="50" /><label for="rating-2">2</label>
                <input type="radio" id="rating-1" name="rating" value="30" /><label for="rating-1">1</label>
                <input type="radio" id="rating-0" name="rating" value="10" class="star-cb-clear" /><label for="rating-0">0</label>
              </span>            
          </div>
          
          <div class='file file--upload'>
            <label for='input-file'>
              <i class="fa-solid fa-cloud-arrow-up"></i>Upload
            </label>
            <input id='input-file' type='file' />
          </div>
          <div class="review-box">
            <input type="text" name="urlId" style="display: none;" value="<%= data._id %>">
            <textarea id="reviewText" name="reviewText" placeholder="리뷰를 작성해주세요 👨‍💻"></textarea>
            <button type="submit" id="submitReview">제출</button>
          </div>
            <span id="lbl_limit"></span>
      </div>
  </form>
  


    <%- include('footer.html') %>

   
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fcbbd5cd53c7588e501aae9ea713ff10"
    ></script>
    <script src="../public/js/review.js"></script>
   

    <script>
     var logID = 'log',
     log = $('<div id="'+logID+'"></div>');
      $('body').append(log);
      $('[type*="radio"]').change(function () {
        var me = $(this);
        var selectedValue = parseInt(me.attr('value')); // 'value' 속성을 정수로 변환
        var scoreMapping = {
          0: 10,
          1: 30,
          2: 50,
          3: 70,
          4: 100
        };
        var score = scoreMapping[selectedValue] || 0; // 선택한 값에 해당하는 점수 가져오기

        log.html(me.attr('value'));
      });

      // input 요소와 lbl_limit 요소를 가져옴
      const inputElement = document.getElementById("reviewText");
      const lblLimit = document.getElementById("lbl_limit");

      // input 이벤트를 사용하여 글자 수를 실시간으로 업데이트
      inputElement.addEventListener("input", function () {
        const currentCount = inputElement.value.length;

        lblLimit.textContent = currentCount + " / 20";

        if (currentCount >= 20) {
          inputElement.maxLength = 20; // 20자 이상이면 더 이상 입력하지 못하도록 막음
          lblLimit.style.color = "red"; // 또는 다른 스타일을 적용
          lblLimit.innerHTML = "허용 글자를 초과하였습니다.";
        } else {
          inputElement.maxLength = 20; // 10자 미만이면 최대 25자까지 입력 가능
          lblLimit.style.color = ""; // 스타일 초기화 또는 다른 스타일을 적용
        }
      });
    </script>
  </body>
</html>
